

#add_blog {
margin-top:2%;
align-items: center;
justify-content: center;
}


#add_blog form {
  text-align: center;
  border: 1px solid #4A4A4A;
  padding: 30px;
  color:white;
}
#add_blog form label {
  color:white;
  text-align: center;
  font-size:24px;
  margin-bottom: 3%;
}

input {
     color: black;
     text-align: center;
     font-size:24px;
}
textarea {
  border: 0;
  color: black;
  font-size: 24px;
  text-align: center;
}
select {
  color: black;
  text-align: center;
    font-size: 24px;

    border: 0;
}

select option {
  font-size: 24px;

}