{% extends "index.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/blog.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/navbar.css' %}">
<body class="bg-gray-900" data-new-gr-c-s-check-loaded="14.1089.0" data-gr-ext-installed="">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">


<!--    Navbar section -->
   <div class="justify-center p-0 max-w-[800px] m-auto">
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'add_blog' %}">Add new blog</a></li>
                <li><a href="{% url 'api_posts' %}">API Blog</a></li>
                <li><a href="{% url 'api_users' %}">API Users</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>

            </ul>
        </nav>
   </div>



    <section id="blog" class="pt-[40px]">
        <div class="container">
            <div class="flex flex-wrap mx-[-16px] overflow-x-hidden">
                <div class="w-full px-4">
                    <div class="max-w-[600px] mx-auto text-center mb-[70px]">
                        <span class="font-semibold text-lg text-primary block mb-2" data-projection-id="13" style="opacity: 1; transform: none;">Don't read this</span>
                        <h2 class="font-bold text-white text-3xl sm:text-4xl md:text-[45px] mb-5" data-projection-id="14" style="opacity: 1; transform: none;">My Random Thoughts</h2>
                        <p class="font-medium text-lg text-body-color" data-projection-id="15" style="opacity: 1; transform: none;">This is where I plan on writing down some of my thoughts and/or opinions regarding development. By the time somebody reads this, I hope there is actually something to see :D</p>
                    </div>
                </div>
            </div>
            <div class="justify-center p-0 max-w-[800px] m-auto">
                {% for blog in blog_post %}
                <section class="bg-gray-900" data-projection-id="16" style="opacity: 1;">
                    <div class="py-6 px-4 mx-auto lg:px-6">
                        <div class="grid gap-8 lg:grid-cols-1">
                            <article class="p-6 rounded-lg border shadow-md bg-gray-800 border-gray-700">
                                <div class="flex justify-between items-center mb-5 text-gray-500">
                                    <span class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded bg-primary-200 text-primary-800">
                                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path>
                                        </svg>Tutorial</span>
                                    <span class="text-sm">{{ blog.created }}</span>
                                </div>
                                <h2 class="hover-underline-animation mb-2 text-2xl font-bold tracking-tight text-white">
                                    <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                                </h2>
                                <p class="mb-5 font-light text-gray-400">{{ blog.body|safe|truncatewords:25 }}</p><a href="{% url 'update_blog' blog.pk %}">Edit</a>
                                <div class="flex justify-between items-center">
                                    <div class="flex items-center space-x-4">
                                        <span class="font-medium text-white">{{ blog.owner }}</span>
                                    </div>
                                    <a class="inline-flex-important items-center font-medium text-white hover-underline-animation" href="{% url 'blog_detail' blog.pk %}">Read more
                                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                        </svg>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
        </div>
    </section>

</body>

{% else %}

<h1>Not login</h1>
{% endif %}

{% endblock %}

