{% extends "blog.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/update_blog.css' %}">

{% if user.is_authenticated %}
    {% if user.id == post.owner.id %}
      <div class="container" id="update_blog">
          <form class="w-full max-w-lg" method="post">
              {% csrf_token%}
              {{ form.as_p}}
              <button type="submit" value="Submit">Submit</button>

          </form>
      </div>








    <script>
        var name ="{{ user.id }}";
        document.getElementById("user").value = name;
    </script>

    {% endif %}
{% endif %}

{% endblock %}


